mat-nav-list {
  height: 400px;
}

.btnContact {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.btnWhatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

mat-form-field {
  width: 95%; /* Hace que el campo de texto ocupe todo el ancho del contenedor */
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espaciado entre elementos */
  width: 100%; /* Asegura que el contenido ocupe todo el ancho del diálogo */
}


textarea {
  resize: none; /* Desactiva el redimensionamiento manual si no es necesario */
  min-height: 200px; /* Establece una altura mínima de 300px */
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
}