@use '@angular/material' as mat;


:root {
  
    container-color: orange,
  ;
}




.btnWhatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-form-field {
  width: 100%; /* Hace que el campo de texto ocupe todo el ancho del contenedor */
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espaciado entre elementos */
  width: 100%; /* Asegura que el contenido ocupe todo el ancho del diálogo */
}


textarea {
  resize: none; /* Desactiva el redimensionamiento manual si no es necesario */
  min-height: 200px; /* Establece una altura mínima de 300px */
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
}